menu.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MENU">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ITEM" maxOccurs="12" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item_no">
<xs:simpleType>		
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="001"/>
      <xs:maxInclusive value="012"/>
    </xs:restriction>
</xs:simpleType>
  </xs:element>
            <xs:element name="category">
			  <xs:simpleType>
				<xs:restriction base="xs:string">
				<xs:enumeration value="HOT BEVERAGES"/>
				<xs:enumeration value="COLD BEVERAGES"/>
				<xs:enumeration value="BAKERY"/>
				</xs:restriction>
			  </xs:simpleType>
			</xs:element>

              <xs:element type="xs:string" name="item_name"/>
              <xs:element type="xs:float" name="price"/>
              <xs:element type="xs:string" name="item_desc"/>
              <xs:element name="rating">
			  <xs:simpleType>
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.00"/>
      <xs:maxInclusive value="5.00"/>
    </xs:restriction>
</xs:simpleType>
	</xs:element>
  
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
